# (C) Copyright 2021 Hewlett Packard Enterprise Development LP

# AWS credential to generate SCM vend token

secret:
  awsAccess: {{ gateway_config['gatewayConfig']['infraServices']['lhAgent']['awsAccessKeyID'] }}
  awsRegion: {{ gateway_config['gatewayConfig']['infraServices']['lhAgent']['awsRegion'] }}
  awsSecret: {{ gateway_config['gatewayConfig']['infraServices']['lhAgent']['awsSecretAccessKey'] }}
