jfrog_user: {{ gateway_config['gatewayConfig']['infraServices']['infraContainerServices']['lhupdateService']['jfroguser'] }}
jfrog_password: {{ gateway_config['gatewayConfig']['infraServices']['infraContainerServices']['lhupdateService']['jfrogpassword'] }}
ui_superuser: {{ gateway_config['gatewayConfig']['infraServices']['infraContainerServices']['lhupdateService']['uiuser'] }}
ui_superuserpassword: {{ gateway_config['gatewayConfig']['infraServices']['infraContainerServices']['lhupdateService']['uipassword'] }}
ui_user: {{ gateway_config['gatewayConfig']['infraServices']['infraContainerServices']['lhupdateService']['uisuperuser'] }}
ui_userpassword: {{ gateway_config['gatewayConfig']['infraServices']['infraContainerServices']['lhupdateService']['uisuperuserpassword'] }}

config:
  node1user: {{ gateway_config['gatewayConfig']['infraServices']['gatewayNodes'][0]['userName'] }}
  node1password: {{ gateway_config['gatewayConfig']['infraServices']['gatewayNodes'][0]['password'] }}
  node2user: {{ gateway_config['gatewayConfig']['infraServices']['gatewayNodes'][1]['userName'] }}
  node2password: {{ gateway_config['gatewayConfig']['infraServices']['gatewayNodes'][1]['password'] }}
  node3user: {{ gateway_config['gatewayConfig']['infraServices']['gatewayNodes'][2]['userName'] }}
  node3password: {{ gateway_config['gatewayConfig']['infraServices']['gatewayNodes'][2]['password'] }}
  k3snode1user: {{ gateway_config['gatewayConfig']['infraServices']['k3sCluster']['k3svm'][0]['username'] }}
  k3snode1password: {{ gateway_config['gatewayConfig']['infraServices']['k3sCluster']['k3svm'][0]['password'] }}
  k3snode2user: {{ gateway_config['gatewayConfig']['infraServices']['k3sCluster']['k3svm'][1]['username'] }}
  k3snode2password: {{ gateway_config['gatewayConfig']['infraServices']['k3sCluster']['k3svm'][1]['password'] }}
  k3snode3user: {{ gateway_config['gatewayConfig']['infraServices']['k3sCluster']['k3svm'][2]['username'] }}
  k3snode3password: {{ gateway_config['gatewayConfig']['infraServices']['k3sCluster']['k3svm'][2]['password'] }}
  ilo1user: {{ gateway_config['gatewayConfig']['infraServices']['gatewayNodes'][0]['iloUser'] }}
  ilo1password: {{ gateway_config['gatewayConfig']['infraServices']['gatewayNodes'][0]['iloPassword'] }}
  ilo2user: {{ gateway_config['gatewayConfig']['infraServices']['gatewayNodes'][1]['iloUser'] }}
  ilo2password: {{ gateway_config['gatewayConfig']['infraServices']['gatewayNodes'][1]['iloPassword'] }}
  ilo3user: {{ gateway_config['gatewayConfig']['infraServices']['gatewayNodes'][2]['iloUser'] }}
  ilo3password: {{ gateway_config['gatewayConfig']['infraServices']['gatewayNodes'][2]['iloPassword'] }}
  ovuser: {{ gateway_config['gatewayConfig']['infraServices']['oneview']['username'] }}
  ovpassword: {{ gateway_config['gatewayConfig']['infraServices']['oneview']['password'] }}
  afcuser: {{ gateway_config['gatewayConfig']['infraServices']['afc']['adminUsername'] }}
  afcpassword: {{ gateway_config['gatewayConfig']['infraServices']['afc']['adminPassword'] }}
  harboruser: {{ gateway_config['gatewayConfig']['infraServices']["infraContainerServices"]["harborRegistryService"]['harborUsername'] }}
  harborpassword: {{ gateway_config['gatewayConfig']['infraServices']["infraContainerServices"]["harborRegistryService"]['harborPassword'] }}
  pulpuser: {{ gateway_config['gatewayConfig']['infraServices']["infraContainerServices"]["pulpRegistryService"]['pulpUsername'] }}
  pulppassword: {{ gateway_config['gatewayConfig']['infraServices']["infraContainerServices"]["pulpRegistryService"]['pulpPassword'] }}
